* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	background: #f2f2f2;
	color: #ddd;
	text-align: center;
	line-height: 2;
}

h1 {
	color: coral;
	font-size: 5rem;
}
button {
	margin: 0 10px;
	background: transparent;
}
